@page
@using Domain
@model WebApplication.Pages.Start


<div class="text-center">
    <div class="text-left"> 
      
        @{
                if (Model.Settings.IsPlayerOne)
                {
                    
                    <h5>
                        Current player: @Model.Settings.FirstPlayerName (yellow)
                    </h5>
                }
                else
                {
                    <h5 >
                        Current player: @Model.Settings.SecondPlayerName (red)
                    </h5>
                }
        }
        <a asp-page="Index">
                <button type="button" class="btn btn-info btn-sm" style="margin: 1%">
                   Back to main menu
                    </button>
            </a>
        @{
            if (!Model.GameOver && !Model.FullBoard)
             {
                 <a asp-page="SaveLoad" asp-route-save="true">
                     <button type="button" class="btn btn-info btn-sm" style="margin: 1%" asp-route-userXint="">
                         Save the game
                     </button>
                     </a>
             }
            else
            {
                <a asp-page="PlayOnline" asp-route-restart="true">
                    <button type="button" class="btn btn-info btn-sm" style="margin: 1%">
                        Restart
                    </button>
                </a>
            }
        }
    </div>
  
    <table style="width:100%">
        @for (var i = 0; i < Model.Settings.BoardHeight; i++)
        {
            <tr>
                @for (var j = 0; j < Model.Settings.BoardWidth; j++)
                {
                    <td>
                        @{
                            if (Model.Settings.Board[i, j] == CellState.X)
                            {
                                <div class="playerOne"></div>
                            }
                            else if (Model.Settings.Board[i, j] == CellState.O)
                            {
                                <div class="playerTwo"></div>
                            }
                            else
                            {
                                <div class="blank"></div>
                            }
                        }
                    </td>
                }
            </tr>

        }
        <tr>
            @{
                if (!Model.GameOver && !Model.FullBoard)
                {
                    for (var i = 0; i < Model.Settings.BoardWidth; i++)
                    {
                        <td>
                            <form method="post">
                                @{ var col = i + 1;
                                    if (Model.Settings.BoardWidth == 10)
                                    {
                                        <button type="submit" class="btn btn-primary button-turn-big" asp-route-userXint="@col">
                                            @col
                                        </button>
                                    }
                                    else if ( Model.Settings.BoardWidth >5 && Model.Settings.BoardWidth < 10)
                                    {
                                        <button type="submit" class="btn btn-primary button-turn-med" asp-route-userXint="@col">
                                            @col
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary button-turn-small" asp-route-userXint="@col">
                                            @col
                                        </button>
                                    }

                                }
                                
                            </form>
                        </td>
                    }
                }
                else if (Model.GameOver)
                {
                    if (Model.Settings.IsPlayerOne)
                    {
                        <h4> @Model.Settings.FirstPlayerName
                            has won!</h4>
                    }
                    else
                    {
                        <h4> @Model.Settings.SecondPlayerName
                            has won!</h4>
                    }
                }
                else
                {
                    <h4>Draw! Board is full!</h4>
                }
            }
        </tr>
    </table>
</div>


<style>
    table, th, td {
      border: 1px solid black;
    }
    
    .playerOne {
      height: 60px;
      width: 60px;
      background-color: yellow;
      border-radius: 50%;
      border:1px solid black;    
      display: inline-block;
    }
    .playerTwo{
          height: 60px;
          width: 60px;
          background-color: red;
          border-radius: 50%;
          border:1px solid black;    
          display: inline-block;
        }
    .blank{
         height: 60px;
         width: 60px;
         background-color: white;
         border-radius: 50%;
         display: inline-block;
        }
     .button-turn-small,.button-turn-med,.button-turn-big{
     width: 100%;
     color: transparent;
     }
       @@media only screen and (max-device-width: 480px) {
       table{
       width:  70vw;
       padding:0;
       margin:0;
       border-spacing: 0;
      }
      .button-turn-small{ 
      width: 18vw;
      }
     .button-turn-med{ 
           width: 11vw;
           }   
     .button-turn-big{ 
           width: 8.5vw;
           }
      td{
      width: 1px;
      white-space: nowrap;

      }
      .blank{
                height: 25px;
                width: 25px;
               }
      .playerOne{
                 height: 25px;
                 width: 25px;
                 }
      .playerTwo{
                      height: 25px;
                      width: 25px;
                      }
                      
       html, body{
           height:100%;
           width:100%;
           padding:0;
           margin:0;
       }
    }
    
</style>