@page
@using Domain
@model WebApplication.Pages.Load

@{ var i = 0; }

<div class="text-center">
    @{
        if (Model.RuntimeSave)
        {
            <h3 class="display-4">Select a slot for your save</h3>
        }
        else
        {
            <h3 class="display-4">Select a save to load</h3>
        }
    }


    <div class="row">

        @foreach (var save in Model.Games)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="card" style="height: max-content">

                    <div class="card-header">
                        <strong> @Html.DisplayFor(modelItem => save.name)</strong>
                    </div>
                    <div class="card-body">
                        Time: @Html.DisplayFor(modelItem => save.time)
                        <form method="post">
                            @{
                                if (Model.RuntimeSave)
                                {
                                    if (i == 0)
                                    {
                                        <button type="submit" asp-route-id="@i" class="btn btn-outline-secondary btn-sm" disabled="disabled"  asp-page-handler="Save">
                                            Save game
                                        </button>
                                    }
                                    else if (save.name.Equals("Empty"))
                                    {
                                        <button type="submit" asp-route-id="@i" class="btn btn-outline-primary btn-sm"  asp-page-handler="Save">
                                            Save game
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="submit" asp-route-id="@i" class="btn btn-outline-warning btn-sm"  asp-page-handler="Save">
                                            Save game
                                        </button>
                                        <div>                                        
                                            <small>Choosing this option will overwrite current progress.</small>
                                        </div>
                                    }
                                }
                                else
                                {
                                    if (save.name == "Empty")
                                    {
                                        <button type="submit" asp-route-id="@i" class="btn btn-secondary btn-sm" disabled="disabled">
                                            Load game
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="submit" asp-route-id="@i" class="btn btn-outline-primary btn-sm">
                                            Load game
                                        </button>
                                    }
                                }
                                
                                if (save.name.Equals("Empty"))
                                {
                                    <button type="submit" asp-route-id="@i" class="btn btn-secondary btn-sm" disabled="disabled"  asp-page-handler="Delete">
                                        Delete game
                                    </button>
                                }
                                else
                                {
                                    <button type="submit" asp-route-id="@i" class="btn btn-outline-danger btn-sm"  asp-page-handler="Delete">
                                        Delete game
                                    </button>
                                }
                            }
                        </form>
                    </div>
                    @{ i++; }
                </div>
            </div>
        }

    </div>
    @if (Model.RuntimeSave)
        {
            <h4 style="margin-top: 5%">
                <a asp-page="PlayOnline" asp-route-id="0">Back to the game</a>
            </h4>
        }
    <h4 style="margin-top: 5%">
        <a asp-page="Index">Main menu</a>
    </h4>
    
    

</div>
